[submodule "hadoop-BAM-cookbook"]
	path = hadoop-BAM-cookbook
	url = https://github.com/guillermo-carrasco/hadoop-BAM-cookbook.git
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "ant"]
	path = ant
	url = https://github.com/opscode-cookbooks/ant.git
[submodule "hadoop"]
	path = hadoop
	url = https://github.com/guillermo-carrasco/hadoop.git
